# Dependencies
node_modules/
.pnp
.pnp.js

# Build output
dist/
build/
.next/
out/

# Environment
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# Prisma
apps/api/prisma/migrations/dev.db

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# OS
.DS_Store
Thumbs.db

# Testing
coverage/

# Docker
docker/postgres/data/
docker/postgres/backups/
docker/redis/data/
docker/nginx/certs/
docker/nginx/www/

# Misc
*.tsbuildinfo
.turbo/
